.mainbody{
    text-align: center;
}
label {
    display: inline-block;
}
.correct{
    color: green;
    background-color: #AFA;
}
.wrong{
    color: red;
    background-color:#FF8;
}
.answer{
    padding: 2em;
    margin: 2em;
    font-size: large;
    font-weight: 700;
}

form {
    margin: 1em;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #555;
}
  
.tenses {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: left;
}

label {
    white-space:nowrap;
}
#verbname,#verbtense {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}

#title{
    background-color: aliceblue;
    padding: 2em;
}